html, body {
    height: 100%;
}

/* ------------------ menu cabecalho ------------------*/
#menu{
    box-sizing: border-box;
    width: 100%;
    height: 77px;
    line-height: 120%;
    padding: 1.25% 1.25% 1.25% 1.25%;    
    background-color: indianred;

}

#menu ul{
    float: right;
    margin: 0 20% 0 5%;
}

#menu ul li{
    display: inline;
    list-style: none;
}

#menu ul li a{
    display: inline-block;
    margin: 0.40em;
    text-decoration: none;
    color: white;    
}

#menu ul li a:hover{
    color: wheat;
    border-bottom: 3px solid wheat;   
}

/* ------------------------------------------------------------------------------ */

#geral{
    min-height: 100%;
    position: relative;
    width: 900px;
}

#rodape{
    background-color: indianred;
    width: 100%;
    height: 69px;
    position: absolute;
}

#rodape p{
    color: white;
    float: left;
    padding: 0 1em 0 2em;
    line-height: 430%;
    bottom: 0;
}