html, body {
    height: 100%;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Divisor de seçoes */
#divisor{
    background-color: indianred;
    border: 3px solid indianred;
    border-radius: 10px;
    width: 60%;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* ------------------ menu cabecalho ------------------*/
#menu{
    width: 100%;
    height: 77px;
    line-height: 120%;
    padding: 1.25% 1.25% 1.25% 1.25%;    
    background-color: indianred;

}

#menu ul{
    float: right;
    margin: 0 20% 0 5%;
}

#menu ul li{
    display: inline;
    list-style: none;
}

#menu ul li a{
    display: inline-block;
    margin: 0.40em;
    text-decoration: none;
    color: white;    
}

#menu ul li a:hover{
    color: wheat;
    border-bottom: 3px solid wheat;   
}

/* ------------------------------------------------------------------------------ */

#banner{
    min-height: 100%;
    position: relative;
    width: 100%;
}

#banner img{
    height: 400px;
    position: relative;    
}

/* About */

#about{
    text-align: center;
}

#imgAbout{
    width: 300px;
    height: 400px;
    margin-top: 50px;
    margin-bottom: 20px;
}

/* Game */

#imgGame{
    width: 600px;
    height: 600px;
    margin-top: 50px;
    margin-bottom: 20px;
}

#rodape{
    background-color: indianred;
    width: 100%;
    height: 69px;
    position: absolute;
    margin-bottom: 0;
}

#rodape p{
    color: white;
    line-height: 69px;
    bottom: 0;
    text-align: center;
    margin-bottom: 0;
}
